{% include 'header.html.twig' %}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand">jQuery plugins & playground</a>
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blokkendoos <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="index">Demo 1 (simple)</a></li>
                        <li><a href="index/demo2">Demo 2 (accept & deny)</a></li>
                        <li><a href="index/demo3">Demo 3 (loading data)</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dolly <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="index/dolly">Shitform</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Crush <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="index/crush">Scale shite</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Three.js<b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="three">Simplex noise landscape</a></li>
                        <li><a href="dftest">Dwarf fortress visualizer</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">HarryPlotter<b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="harryplotter">Demo 1</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dora<b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="dora">Proof of conception</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


{% block content %}
<div class="container">
    No content
</div>
{% endblock %}

{% include 'footer.html.twig' %}