{% extends 'base.html.twig' %}

{% block content %}

<div class="container-fluid" id="blokkendoos">
    <div class="row-fluid">
        <div class="span12">

            <h3>"RAAAAAAAAAAAAAR! Me smash Night Elf!"</h3>

            <div class="well" id="scalethisshit">
                <div id="dummy-page">
                    <div class="row-fluid">
                        <div class="span2">Asjemenou!</div>
                        <div class="span10">
                            <h1>Nyan cat!</h1>
                            <img src="http://www.aproposapocalyps.nl/cartoons2/je%20moeder2.gif" width='100%' />
                        </div>
                    </div>
                </div>
                <!--iframe src="http://smashingmagazine.com"></iframe-->
            </div>

        </div>
    </div>
</div>

{% endblock %}